<ion-grid>
  <ion-row>
    <ion-col col-12>
      <div class="line-top">line</div>
      <div class="header">dfsd</div>
      <div class="header-bg">dfds</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <img src="" alt="">
    </ion-col>

    <ion-col col-6>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ad tempora atque exercitationem porro sint, facilis voluptate officia omnis! Sint distinctio hic expedita eaque nam maiores magnam? Aliquid, velit laudantium.
      </ion-col>
  </ion-row>
</ion-grid>
