notificoes {
  background: url();

  .no-padding {
    padding: 0px !important;
}


  position: relative;

    .wrapper {
        width: 100%;
        height: 100%;
    }
    #map {
        height: 100%;
        width: 100%;
    }

    #locator1 {
      background-image: url('https://github.com/daniloagostinho/van-share/blob/master/20.png?raw=true');
      position: absolute;
      left: 269px;
      top: 7%;
      width: 37px;
      height: 45px;
      margin-top:-60px; // bottom of image is location on map
    }

    #locator2 {
      background-image: url('https://github.com/daniloagostinho/van-share/blob/master/21.png?raw=true');
      position: absolute;
      left: 249px;
      top: 49%;
      width: 37px;
      height: 45px;
      margin-top:-60px; // bottom of image is location on map
    }
}
